# Telegram
BOT_TOKEN=your_bot_token
BASE_URL=https://api.telegram.org/bot

# MongoDB
MONGO_URI=mongodb://localhost:27017
DB_NAME=ecokirom

# OpenAI
OPENAI_API_KEY=your_openai_api_key

# Flask
FLASK_ENV=production
